body {
	margin: 0;
	padding: 0;
}

#drum-machine {
	width: 100vw;
	height: 500px;
	max-width: 500px;
	background-color: gray;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.filler {
	height: 25%;
}

#display {
	margin: auto;
	width: 50%;
	height: 50%;
	display: grid;
	grid-template-columns: repeat(3, 25%);
	grid-template-rows: repeat(3, 25%);
	grid-gap: 10px;
}


.drum-pad {
	width: 75%;
	color: white;
	background-color: black;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row1 {
	justify-self: start;
}

.row2 {
	justify-self: center;
}

.row3 {
	justify-self: end;
}


