body {
	margin: 0;
	padding: 0;
}

#drum-machine {
	width: 95vw;
	max-width: 400px;
	height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.filler {
	height: 100%;
}

#drum-pads {
	width: 100%;
	padding-top: 25%;
	padding-bottom: 25%;
	background-color: gray;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 77px);
	grid-template-rows: repeat(3, 75px);
	justify-content: center;
	align-items: center;
}


.drum-pad {
	width: 65px;
	height: 65px;
	color: white;
	background-color: black;
	border-radius: 15px;
	box-shadow: 0px 0px .5px .5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .1s;
}

.drum-pad:active {
	transform: scale(.95);
	box-shadow: 0px 0px;
}

.row1 {
	justify-self: start;
}

.row2 {
	justify-self: center;
}

.row3 {
	justify-self: end;
}


